@use "./main" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $neutral-900;
}

.app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
