@use "./main" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include textPreset5;
  background-color: $neutral-700;
}

.app {
  @include displayFlex;
  flex-direction: column;

  height: 100dvh;
  width: auto;
}
